<div class="user-edit-profile tab-content has-border py-2 py-md-4 px-1 px-sm-2 px-ld-3">
	<form {{ attributes }}>
		{{ element.form_build_id }}
		{{ element.form_token }}
		{{ element.form_id }}
			<div class="card mb-4">
				<h5 class="card-header">{{ 'Compte' | t }}</h5>
				<div class="card-body">
					<div class="row w-100">

						<div class="col-md-12">
							<div class="input-icon lock-icon">
								{{ element.account.current_pass }}
							</div>
						</div>
						<div class="col-md-12">
							<div class="input-icon lock-icon">
								{{ element.account.pass }}
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="actions">
				{{ element.actions.submit }}
			</div>
		</form>

	</div>


